*{
    transition: .45s;
}
body{
    position: relative;
    margin: 0px;
}
nav{
    box-shadow: 0 0 5px black;
}
.bg-bag{
    background: radial-gradient(rgb(234, 122, 122),rgb(224, 83, 83));
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 33%;
    background-position: center;
    text-align: center;
    margin: 20px 0px;
    line-height: 55px;
    border: 10px solid rgba(220,53,69);
    border-radius: 20px;
    font-weight: 900;
}
.bg-bag:hover{
    background: linear-gradient(red,black);
}
.offcanvas{
    height: 600px;
    width: 100px;
    background-color: rgb(40, 38, 38);
}