body{
    background-image: url(../media/background.png);
    font-size: 200%;
    color: rgb(4, 4, 99);
    text-align: center;

}
.body{
    font-family: 'Blaka', cursive;
    font-size: 150%;
    color: rgb(35, 240, 255);
    text-align: center;
}
button{
    padding: 20px 40px;
    background: linear-gradient(90deg,#fb9595,#86fbfb);
    font-size: 120%;
    font-family: 'Blaka', cursive;
    color:rgb(7, 34, 57);
    border: none;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 20px;
}