body{
    text-align: center;
    padding: 20px auto;
    
}
.parent{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 30px;
    text-align: center;
    /* margin: 0px auto;     */
    width: 100%;
}
.box{
    background-color: brown;
    padding: 30px;
  
}