@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root{
    --background: rgb(255, 255, 255);
    --backgroundsec: rgb(225, 225, 227);
    --font: rgb(61, 57, 57);
    --fontsec: rgb(137, 137, 143);
    --font-family: 'Roboto Mono', monospace;
}
body{
    font-family: var(--font-family);
    background-color: var(--background);
    color: var(--font);
}
.devfinder{
    font-size: 22px;
    font-weight:bolder;
}
.sec{
    color: var(--fontsec);
}
.back{
    background-color: var(--background);
}
.backsec{
    background-color: var(--backgroundsec);
}
img{
    width: 80%;
    margin-top: -150px;
    border: 5px solid blue;
}
