.image{
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
}
.image:hover{
    box-shadow: 0 0 20px yellow;

}
.image:active{
    border-color:rgb(34, 0, 255) ;
}
.image-2{
    width: 80%;
}
.frame{
    border: 5px solid cyan;
    width: 80%;
    height: 600px;
    box-shadow: 0 0 20px cyan;
}
