body{
    width: 720px;
    height: 1400px;
}
.box{
    margin-top: 120px;
    width: 720px;
    height: 600px;
}
.box-2{
    width: 720px;
    height: 240px;
}
.h-600{
    height: 240px;
    background-color: black;
    
}
.line-1{
    background-image: url(../wrongSide/media/grass.png);
    height: 600px;
    background-color: black;
    background-size: contain;
    z-index: -5;
}
.line-2{
    background-image: url(../wrongSide/media/water.png);
    height: 600px;
    background-color: black;
    background-size: contain;
}
.line-3{
    background-image: url(../wrongSide/media/road.png);
    height: 600px;
    background-color: black;
    background-size: contain;
    z-index: -6;
}
.line-4{
    background-image: url(../wrongSide/media/road.png);
    height: 600px;
    background-color: black;
    background-size: contain;
    position: relative;
    z-index: -5;
}
.left{
    background-image: url(./media/left.png);
    background-size: contain;
}
.right{
    background-image: url(./media/right.png);
    background-size: contain;
}
.left:active{
    background-size: 200px 200px;
    background-position: center;
    background-repeat: no-repeat;
}
.right:active{
    background-size: 200px 200px;
    background-position: center;
    background-repeat: no-repeat;
}

.jagah{
    height: 80px;
   width: 720px;
   z-index: 0;
}
.jagah img{
    z-index: 100;
    margin-left: -24px;


}
#p1{
    position: relative;
    width: 100px;
    top: 470px;
    margin-left: -138px;
}
#p2{
    position: relative;
    width: 100px;
    top: 470px;
    margin-left: -16px;
}
#p3{
    position: relative;
    width: 100px;
    top: 270px;
    margin-left: 96px;
}
.move{
    width: 130px;
    margin-left: -28px;
    animation: move 16s infinite linear;
    position: relative;
    z-index: -1;
}
.move2{
    width: 130px;
    margin-left: -28px;
    animation: move2 7s infinite linear;
    position: relative;
    z-index: -1;
}
.move3{
    width: 130px;
    margin-left: -14px;
    animation: move3 7s infinite linear;
    position: relative;
    z-index: -1;
}
@keyframes move {
    from{
        top: -1752px
    }
    to{
        top:534px;
    }
}
.track{
    position: absolute;
    z-index: -7;
    width: 20px;
    margin-left: -12px;
    animation: movex 16s infinite linear;
}
.track img{
   position: relative;
   z-index: -1;

}

@keyframes move2 {
    from{
        top: -1686px
    }
    to{
        top:600px;
    }
}
@keyframes move3 {
    from{
        top: -400px
    }
    to{
        top:1886px;
    }
}
@keyframes movex {
    from{
        top: -2152px
    }
    to{
        top:534px;
    }
}
.jagah2{
    height: 2000px;
    z-index: 200;
}
.move4{
    width: 130px;
    margin-left: -28px;
    animation: move4 9s infinite linear;
    position: relative;
    z-index: -1;
}
@keyframes move4 {
    from{
        top: -1752px
    }
    to{
        top:534px;
    }
}
.move5{
    width: 130px;
    margin-left: -28px;
    animation: move5 9s infinite linear;
    position: relative;
    z-index: -1;
}
@keyframes move5 {
    from{
        top: -552px
    }
    to{
        top:1734px;
    }
}
.move6{
    width: 130px;
    margin-left: -28px;
    animation: move6 12s infinite linear;
    position: relative;
    z-index: -1;
}
@keyframes move6 {
    from{
        top: -552px
    }
    to{
        top:1734px;
    }
}
.move7{
    width: 130px;
    margin-left: -28px;
    animation: move3 12s infinite linear;
    position: relative;
    z-index: -1;
}
@keyframes move7 {
    from{
        top: -1752px
    }
    to{
        top:534px;
    }
}
.mycar-1{
    animation: shake 0.3s linear infinite;
}
@keyframes shake {
    from{
        margin-left: -20.5px;
    }
    to{
        margin-left: -16.5px;
    }
}
.margin{
    margin-left: 60px;
}