i:hover{
    text-shadow: 0 0 5px green;
}
i:active{
    color: yellow;
}
button:hover{
    text-shadow: 0 0 5px green;
}
button:active{
    text-shadow: 0 0 5px yellow;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0eN2CbHBI80clCPPdcvDXNPbFwj-ufDbB_G8CYPWSwIYp9LAiTabSOEUxrkxF90hiKp8&usqp=CAU);
    background-size:auto;
}