.square{
    width: 4vw;
    height: 4vw;
}
.row{
    width: 60vw;
}
.bg-star{
    background-image: url('./media/image-removebg-preview.png');
    background-position: center;
    background-size: contain;
}