.square{
    width: 6vw;
    height: 6vw;
}
.row{
    width: 90vw;
}
.bg-star{
    background-image: url('./media/image-removebg-preview.png');
    background-position: center;
    background-size: contain;
}