body{
    height: 1800pxpx;
}
.buttons{
    height: 100px;
    width: 100px;
    text-align: center;
    align-items: center;
    border: 2.5px solid yellow;
    border-radius: 50%;
    background-color: black;
    font-size: 84px;
    line-height: 66px;
    margin: auto;
}
.buttons:hover{
    color: yellow;
}
.buttons:active{
    color: blue;
    box-shadow: 0 0 10px white;
}
.chips{
    height: 100px;
    width: 100px;
    border: 2.5px solid rgb(104, 255, 49);
    border-radius: 50%;
    background-color: rgb(60, 56, 56);
    margin: auto;
}
h4{
    font-size: 50px;
}
@media(max-width:1200px){
    .buttons{
        height: 50px;
        width: 50px;
    }
    .chips{

        height: 50px;
        width: 50px;

    }
}